src/nbproject/private/
src/dist/
*.gch
*.o
/build/*
*kdev4
*.cpp.o
*.cmake
depend.*
flags.*
Makefile
progress.*
feature_tests.*
link.txt
build.make
CmakeCache.txt
cmake.check_cache
CMakeC*
CMakeD*
CMakeO*
CXX*
a.out
TargetDirectories.txt
Makefile2
*~
/CMakeFiles/*
/cmake-build-debug/
*.cbp
.idea/
_*
Makefile
